#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #103a50;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  -webkit-box-shadow: 0px 6px 25px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 6px 25px rgba(50, 50, 50, 0.75);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 100%;
  height: 82px;
}

