div.card.login-card {
  box-shadow: 0px 0px 50px #cecece; }
  div.card.login-card div.email-grp {
    position: relative; }
    div.card.login-card div.email-grp > label {
      position: absolute;
      z-index: 2;
      pointer-events: none;
      top: 5px;
      left: 5px;
      font-size: 20px;
      color: #787878;
      transition: all 0.5s ease; }
      div.card.login-card div.email-grp > label.ln {
        top: -8px;
        left: 5px;
        font-size: 13px; }
    div.card.login-card div.email-grp input.custom-email {
      padding: 15px; }
  div.card.login-card div.pw-grp {
    position: relative; }
    div.card.login-card div.pw-grp > label {
      position: absolute;
      z-index: 2;
      pointer-events: none;
      top: 5px;
      left: 5px;
      font-size: 20px;
      color: #787878;
      transition: all 0.5s ease; }
      div.card.login-card div.pw-grp > label.ln {
        top: -8px;
        left: 5px;
        font-size: 13px; }
    div.card.login-card div.pw-grp input.custom-password {
      padding: 15px; }

/*# sourceMappingURL=login.css.map */
