@mixin label
	position: absolute
	z-index: 2
	pointer-events: none
	top: 5px
	left: 5px
	font-size: 20px
	color: #787878
	transition: all 0.5s ease

@mixin label-new-location
	top: -8px
	left: 5px
	font-size: 13px

div.card.login-card
	box-shadow: 0px 0px 50px #cecece
	div.email-grp
		position: relative
		&>label
			@include label
			&.ln
				@include label-new-location
		input.custom-email
			padding: 15px
	div.pw-grp
		position: relative
		&>label
			@include label
			&.ln
				@include label-new-location
		input.custom-password
			padding: 15px