.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.custom-table-bordered {
  border-collapse: collapse;
}

.custom-table-bordered tr th,
.custom-table-bordered tr td {
  border: 1px solid #000;
  text-align: center;
}

.custom-table-bordered-2 tr th,
.custom-table-bordered-2 tr td {
  border: 1px solid #000;
}

.custom-table-bordered-2 tfoot th,
.custom-table-bordered-2 tfoot td {
  border: 0px !important;
}

.custom-table-bordered-2 tfoot tr.border-xt {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.custom-table-bordered-2 tfoot tr.border-x {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.custom-table-bordered-2 tfoot tr.border-xb {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.custom-table-bordered-2 tfoot tr.border-left {
  border-left: 1px solid #000000;
}

.custom-table-bordered-2 tfoot tr.border-right {
  border-right: 1px solid #000000;
}

.custom-table-bordered-2 tfoot tr.border {
  border: 1px solid #000;
}

.custom-table-bordered-2 tfoot tr.grey-bg {
  background-color: #ccc;
}

tbody tr {
  text-wrap: true;
}

.small-font {
  font-size: 8px;
}

