@import url('https://fonts.googleapis.com/css?family=Lato')

*, ::after, ::before
    -webkit-box-sizing: border-box
    box-sizing: border-box
    
html
    font-family: sans-serif
    line-height: 1.15

h2
    line-height: 1.35483871
    font-size: 1.9375rem

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-bottom: .5rem
    font-family: inherit
    font-weight: 500
    line-height: 1.2
    color: inherit

body
    margin: 0
    font-family: Lato,Arial,sans-serif
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    color: #373a3c
    text-align: left
    background-color: #fff

img
    vertical-align: middle
    border-style: none

.text-center
    text-align: center !important

.text-right
    text-align: right !important

.w-50
    width: 50% !important

.container-fluid
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

.row
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap

.list-group
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
    padding-left: 0
    margin-bottom: 0

    .list-group-item
        position: relative
        display: block
        padding: .75rem 1.25rem
        margin-bottom: -1px
        background-color: #fff
        border: 1px solid rgba(0,0,0,.125)

    .list-group-item:focus, .list-group-item:hover
        z-index: 1
        text-decoration: none
    
    .list-group-item:first-child
        border-top-left-radius: 5px
        border-top-right-radius: 5px
    
.table-responsive
    display: block
    width: 100%
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar

table
    border-collapse: collapse

.table
    width: 100%
    max-width: 100%
    margin-bottom: 1rem
    background-color: transparent

.table-primary, .table-primary>td, .table-primary>th
    background-color: #c1ddff

.table thead th
    vertical-align: bottom
    border-bottom: 2px solid #dee2e6

.table td, .table th
    padding: .75rem
    vertical-align: top
    border-top: 1px solid #dee2e6

th
    text-align: inherit

label
    display: inline-block
    margin-bottom: .5rem

.form-control
    display: block
    width: 100%
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    color: #495057
    background-color: #fff
    -webkit-background-clip: padding-box
    background-clip: padding-box
    border: 1px solid #ced4da
    border-radius: 5px
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out

textarea
    overflow: auto
    resize: vertical
    
button, input, optgroup, select, textarea
    margin: 0
    font-family: inherit

.form-control:disabled, .form-control[readonly]
    background-color: #e9ecef
    opacity: 1

.mt-5
    margin-top: 3rem !important

.text-justify
    text-align: justify !important

.w-100
    width: 100% !important

.w-75
    width: 75% !important

.w-25
    width: 25% !important