@import url(https://fonts.googleapis.com/css?family=Poppins);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);.form-control {
  border: 1px solid #103a50;
}

.navbar {
  background: #103a50 !important;
}

.navbar .logo-container .logo-image {
  width: 47%;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.fab-container {
  bottom: 75px;
  position: absolute;
  margin: 1em;
  right: 100px;
}

.buttons {
  -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  color: #fff !important;
}

.buttons:active,
.buttons:focus,
.buttons:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.buttons:not(:last-child) {
  width: 170px;
  border-radius: 0.25rem;
  color: #000;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.fab-container:hover .buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-image: url("http://www.clipartbest.com/cliparts/yik/j7r/yikj7reiE.png");
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
}

.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
  transition-delay: 40ms;
}

.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
  transition-delay: 60ms;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.btn {
  border-right: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.btn:active {
  border-right: 0;
  border-bottom: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

div.body {
  padding-bottom: 100px;
  position: relative;
  min-height: 100%;
}

body {
  background: #e5e5e5;
  font-family: "Open Sans", sans-serif !important;
}

a:not(.dropdown-item) {
  text-decoration: none;
  color: #fff;
}

a:not(.dropdown-item):visited {
  color: #fff;
}

a:not(.dropdown-item):hover {
  text-decoration: none;
}

div.left-nav,
div.right-nav {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.25%;
}

div.left-nav {
  width: 75%;
}

div.notif,
div.profile,
div.hamburger {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.25em;
}

main#panel {
  display: inline-block;
  vertical-align: top;
}

div.menu-list,
nav.sidebar {
  min-height: 100vh;
}

div.menu-list {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

div.menu-list ul {
  list-style-type: none;
}

div.menu-list div.menu-list li {
  display: inline-block;
  vertical-align: middle;
}

div.menu-list li a {
  color: #fff;
}

div.menu-list div.icon {
  display: inline-block;
  vertical-align: middle;
  background: #336ca6;
  width: 25%;
  text-align: center;
  padding: 2%;
  margin: 0 3% 0 0;
}

nav.sidebar {
  background: #2e6196;
}

div.menu-active {
  background: #336ca6;
}

div.menu-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0.7% 2% 0.7% 0.5%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 8px;
  border-radius: 5px;
  width: 43px;
  cursor: pointer;
  border: 2px solid #cecece;
  background: #fff;
}

div.menu-icon:hover {
  background: #103a50;
}

div.menu-icon:hover .line {
  background: #fff;
}

.menu-icon > .line {
  background-color: #292929;
  height: 2px;
  display: block;
}

.menu-icon > .line + .line {
  margin-top: 8px;
}

div.f1l_3r {
  background: #336ca6;
  width: 25%;
  height: 100vh;
  margin-top: -50px;
}

div.content {
  display: inline-block;
  vertical-align: middle;
}

main#panel {
  padding: 10px 3%;
  width: 100%;
}

div.summary-container,
div.summary-item {
  background: #fff;
}

.col-half-offset {
  margin-left: 4.166666667%;
}

.summary-item {
  border: 1px solid #b5b5b5;
  padding: 40px 5px;
}

.summary-item:nth-of-type(1) {
  border-left: 5px solid #fb424a;
}

div.summary-item:nth-of-type(2) {
  border-left: 5px solid #8c33a6;
}

div.summary-item:nth-of-type(3) {
  border-left: 5px solid #4283fb;
}

div.summary-item:nth-of-type(4) {
  border-left: 5px solid #42fbc5;
}

div.summary-item:nth-of-type(5) {
  border-left: 5px solid #fbb842;
}

div.summary-item p.count {
  color: #2e6196;
  font-size: 23px;
  text-align: center;
}

div.summary-item p.title {
  font-size: 15px;
  text-align: center;
  color: #373a3c;
}

div.dbc {
  margin-top: 2%;
}

div.dbc div.dbc-2 {
  margin-left: 1%;
}

div.dbc-1,
div.dbc-2 {
  background: #fff;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: -0.25em;
  width: 49.5%;
}

.hvr-bounce-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #336ca6;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

div.right-nav {
  width: 25%;
  margin-top: 0.7%;
  position: relative;
}

div.right-nav div.notif {
  padding: 10px;
  position: relative;
}

div.right-nav div.notif span.n-count {
  position: absolute;
  top: 0;
  right: 0;
  background: blue;
  border-radius: 100%;
  padding: 3px 9px;
  color: #fff;
  font-size: 11px;
}

div.right-nav div.profile {
  margin-left: 5%;
  border-left: 2px solid gray;
  padding-left: 8%;
}

div.right-nav div.profile img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

div.right-nav div.profile p.profile-name {
  display: inline-block;
  vertical-align: middle;
}

div.right-nav .hamburger {
  background: #2e6196;
  position: absolute;
  top: -11px;
  right: -4px;
  height: 67px;
  width: 19%;
  font-size: 2em;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

div.right-nav .hamburger:hover {
  background: #336ca6;
}

div.right-nav .cross {
  background: #2e6196;
  position: absolute;
  top: -11px;
  right: -4px;
  width: 19%;
  padding: 11px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  height: 67px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

div.right-nav .cross:hover {
  background: #336ca6;
}

div.right-nav .menu {
  z-index: 999999;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #2e6196;
  position: absolute;
  text-align: center;
  font-size: 12px;
  right: 0;
  margin-top: 14px;
  margin-right: -4px;
}

div.right-nav .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

div.right-nav .menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

div.right-nav .menu li:hover {
  display: block;
  background: #336ca6;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

div.right-nav .menu a {
  text-decoration: none;
  color: #fff;
}

div.right-nav .menu:hover {
  text-decoration: none;
  color: #666;
}

.frm {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px #afafaf;
          box-shadow: 5px 5px 20px #afafaf;
  position: relative;
  border-bottom: 2px solid #9c9c9c;
  border-right: 2px solid #9c9c9c;
  border-left: 2px solid #9c9c9c;
}

.frm h1 {
  color: #103a50;
}

.frm:after {
  background: -webkit-gradient(linear, left top, right top, from(#0284fe), color-stop(50%, #103a50), to(#0284fe));
  background: linear-gradient(to right, #0284fe 0%, #103a50 50%, #0284fe 100%);
  position: absolute;
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.ctr-30 {
  width: 30%;
  margin: 0 auto;
}

.ctr-50 {
  width: 50%;
  margin: 0 auto;
}

.ctr-80 {
  width: 80%;
  margin: 0 auto;
}

.confirmed {
  border: 2px solid #5EDF5E;
}

.confirmed:focus {
  border-color: #5EDF5E;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56);
          box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56);
}

.confirmed.form-control:focus {
  border-color: #5EDF5E;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56);
          box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56);
}

.not-confirmed {
  border: 2px solid #C24D4D;
}

.not-confirmed:focus {
  border-color: #C24D4D;
}

.not-confirmed.form-control:focus {
  border-color: #C24D4D;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 49, 99, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(204, 49, 99, 0.5);
}

li.has-submenu:hover ul.submenu {
  display: block;
  opacity: 1;
}

li.has-submenu ul.submenu {
  display: none;
  opacity: 0;
  -webkit-transition: 2s opacity ease;
  transition: 2s opacity ease;
}

.center-div {
  margin: 0 auto;
}

.ppmp-tbl td.is_quarterly_td,
.ppmp-tbl td.is_monthly_td {
  cursor: pointer;
}

.ppmp-tbl td.is_quarterly_td:hover,
.ppmp-tbl td.is_monthly_td:hover {
  background: #2a953a;
}

.ppmp-tbl td.is_quarterly_td.selected,
.ppmp-tbl td.is_monthly_td.selected {
  background: #6bd67b;
}

.legend-box {
  height: 10px;
  width: 10px;
  margin-right: 7px;
}

/******** Status highlights (PPMP Index) *********/

.status-for-director-approval,
.status-pr-for-director-approval {
  background: rgba(26, 169, 149, 0.73) !important;
}

.status-for-budget-approval,
.status-pr-for-procurement-validation {
  background: rgba(3, 77, 244, 0.52) !important;
}

.status-for-end-user-revision,
.status-pr-for-revision {
  background: rgba(214, 91, 32, 0.66) !important;
}

.status-for-director-approval-final,
.status-pr-for-submission {
  background: rgba(255, 0, 0, 0.62) !important;
}

.status-for-procurement-approval,
.status-pr-for-assignment {
  background: rgba(139, 195, 74, 0.69) !important;
}

.status-ppmp-approved,
.status-pr-assigned {
  background: rgba(144, 117, 191, 0.75) !important;
}

.status-pr-for-budget-validation {
  background: rgba(28, 98, 79, 0.49) !important;
}

.custom-table-bordered thead > tr > th,
.custom-table-bordered tbody > tr > td,
.custom-table-bordered thead > tr > td,
.custom-table-bordered tbody > tr > th {
  border: 1px solid #000;
}

ul.pagination li.page-item a.page-link {
  color: red;
  background: #c1ddff;
  border: 0 !important;
}

ul.pagination li.page-item a.page-link:hover {
  background: #2284fe;
  color: #fff;
}

ul.pagination li.page-item.disabled span.page-link {
  color: red;
  background: #c1ddff;
}

ul.pagination li.page-item.active span.page-link {
  color: #fff;
  border: 0 !important;
}

.error {
  border: 2px solid red;
  color: red;
}

.error:focus {
  color: red !important;
  border: 2px solid red;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.88) !important;
          box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.88) !important;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;
}

.dashboard.bg-primary-lt {
  background: #b8ddff !important;
}

