@import "variables"
    
.form-control
    border: 1px solid $theme-color

.navbar
    background: $theme-color !important
    .logo-container
        .logo-image
            width: 47%
            filter: brightness(100)

// .floating-action-menu-container
//     position: fixed
//     bottom: 7%
//     right: 5%
//     display: flex
//     align-items: center
//     .floating-action-menu
//         background: #3ac84c
//         padding: 21px
//         margin-right: -18px
//         padding-right: 30px
//         .floating-action-list
//             display: flex
//             list-style-type: none
//             color: #fff
//     .floating-action
//         background: #3ac84c
//         border-radius: 100%
//         padding: 21px 30px
//         cursor: pointer
//         border-bottom: 2px solid #359842
//         border-right: 2px solid #359842
//         span
//             font-size: 23px
//             color: #fff
//         &:active
//             border-bottom: 0
//             border-right: 0

.fab-container
    bottom: 75px
    position: absolute
    margin: 1em
    right: 100px

.buttons
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15)
    border-radius: 50%
    display: block
    width: 56px
    height: 56px
    margin: 20px auto 0
    position: relative
    -webkit-transition: all .1s ease-out
    transition: all .1s ease-out
    color: #fff !important
    &:active, &:focus, &:hover
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28)
    &:not(:last-child)
        width: 170px
        border-radius: 0.25rem
        color: #000
        height: 40px
        margin: 20px auto 0
        opacity: 0
        -webkit-transform: translateY(50px)
        -ms-transform: translateY(50px)
        transform: translateY(50px)

.fab-container:hover .buttons:not(:last-child)
    opacity: 1
    -webkit-transform: none
    -ms-transform: none
    transform: none
    margin: 15px auto 0

/* Unessential styling for sliding up buttons at differnt speeds

.buttons
    &:nth-last-child(1)
        -webkit-transition-delay: 25ms
        transition-delay: 25ms
        background-image: url('http://www.clipartbest.com/cliparts/yik/j7r/yikj7reiE.png')
        background-size: contain
    &:not(:last-child)
        &:nth-last-child(2)
            -webkit-transition-delay: 50ms
        &:nth-last-child(3)
            -webkit-transition-delay: 75ms
            transition-delay: 40ms
        &:nth-last-child(4)
            -webkit-transition-delay: 100ms
            transition-delay: 60ms

/* Show tooltip content on hover

[tooltip]
    &:before
        bottom: 25%
        font-family: arial
        font-weight: 600
        border-radius: 2px
        background: #585858
        color: #fff
        content: attr(tooltip)
        font-size: 12px
        visibility: hidden
        opacity: 0
        padding: 5px 7px
        margin-right: 12px
        position: absolute
        right: 100%
        white-space: nowrap
    &:hover
        &:before, &:after
            visibility: visible
            opacity: 1

//Bootstrap components restyle
.btn
    border-right: 2px solid #bfbfbf
    border-bottom: 2px solid #bfbfbf
    &:active
        border-right: 0
        border-bottom: 0