@import url('https://fonts.googleapis.com/css?family=Lato')

#menu
    position: fixed
    background-color: #222
    height: 100%
    z-index: 10
    width: 310px
    color: #333
    top: 0
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    transition: all 0.3s ease
    opacity: 1
    font-family: 'Lato', sans-serif
    ul
        list-style: none
        margin-top: 0
        padding: 0
        li
            border-bottom: 1px solid #2a2a2a
            a
                color: #fff
                font-size: 14px
                display: block
                padding: 19px 0 19px 7px
                text-decoration: none
                -webkit-transition: all 0.3s ease
                -moz-transition: all 0.3s ease
                transition: all 0.3s ease
                font-weight: 600
        a
            i
                margin-right: 10px
                font-size: 16px
                margin-top: 3px
                width: 20px
                &[class*='fa-caret']
                    float: right
            &:hover, &.active
                background-color: #111
                border-left-color: #0284fe
                color: #0284fe
            &:hover i:first-child
                color: #0284fe
        li
            a.active + ul
                display: block
            ul
                margin-top: 0
                display: none
                li
                    border-bottom: none
                a
                    padding-left: 40px
                    border-left: 4px solid #fff
                    &:hover
                        background-color: #1A1A1A
    > ul > li > a
        border-left: 4px solid #222

/* Submenu

/* /Submenu

.left
    left: -280px

.show
    left: 0

#showmenu
    margin-left: 100%
    position: absolute
    top: 0
    padding: 6px 10px 7px 10px
    font-size: 1.3em
    color: #FFCC33
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    transition: all 0.3s ease

#container
    padding: 50px