
@import 'variables'

#footer
    display: flex
    background: $theme-color
    justify-content: center
    position: absolute
    bottom: 0
    align-items: center
    padding: 20px 0px
    box-shadow: 0px 6px 25px rgba(50, 50, 50, 0.75)
    color: #fff
    font-family: 'Poppins', sans-serif
    font-weight: bold
    width: 100%
    height: 82px