.text-left
    text-align: left

.text-right
    text-align: right

.text-center
    text-align: center

.custom-table-bordered
    border-collapse: collapse
    tr
        th, td
            border: 1px solid #000
            text-align: center

.custom-table-bordered-2
    tr
        th, td
            border: 1px solid #000
    tfoot
        th, td
            border: 0px !important
        tr
            &.border-xt
                border-top: 1px solid #000000
                border-left: 1px solid #000000
                border-right: 1px solid #000000
            &.border-x
                border-left: 1px solid #000
                border-right: 1px solid #000
            &.border-xb
                border-left: 1px solid #000000
                border-right: 1px solid #000000
                border-bottom: 1px solid #000000
            &.border-left
                border-left: 1px solid #000000
            &.border-right
                border-right: 1px solid #000000
            &.border
                border: 1px solid #000
            &.grey-bg
                background-color: #ccc

tbody tr
  text-wrap: true

.small-font
    font-size: 8px