.allocation-month, .pap_est_budget, .mooe-co
	width: 132px
	text-align: center

.gen-desc
	width: 310px
	text-align: center
	font-size: 11px

.est-budget-error
	border: 3px red solid !important

.pap_est_budget_container
	width: 165px
	text-align: center