@import url('https://fonts.googleapis.com/css?family=Poppins')
@import "ui"
@import "variables"
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$body-color: #e5e5e5
$pcolor: #2e6196
$scolor: #336ca6
$font: 'Open Sans', sans-serif

=reset
	margin: 0
	padding: 0

=inline-block-top
	display: inline-block
	vertical-align: top

=inline-block-middle
	display: inline-block
	vertical-align: middle

=sidebar-padding
	padding: 25px 0

*
	box-sizing: border-box

body, div, ul, li, p
	+reset

html, body
	min-height: 100%
	height: 100%

div.body
	padding-bottom: 100px
	position: relative
	min-height: 100%

body
	background: $body-color
	font-family: $font !important

a:not(.dropdown-item)
	text-decoration: none
	color: #fff
	&:visited
		color: #fff
	&:hover
		text-decoration: none

div.left-nav, div.right-nav
	+inline-block-top
	margin-left: -0.25%

div.left-nav
	width: 75%

div.notif, div.profile, div.hamburger
	+inline-block-top
	margin-left: -0.25em

main#panel
	+inline-block-top

div.menu-list, nav.sidebar
	min-height: 100vh

div.menu-list
	+inline-block-top
	width: 100%
	ul
		list-style-type: none
	div.menu-list li
		+inline-block-middle
	li a
		color: #fff
		
	div.icon
		+inline-block-middle
		background: $scolor
		width: 25%
		text-align: center
		padding: 2%
		margin: 0 3% 0 0

nav.sidebar
	background: $pcolor
div.menu-active
	background: $scolor

div.menu-icon
	+inline-block-middle
	margin: 0.7% 2% 0.7% 0.5%
	transition: all 0.3s linear
	padding: 8px
	border-radius: 5px
	width: 43px
	cursor: pointer
	border: 2px solid #cecece
	background: #fff

div.menu-icon:hover
	background: $theme-color

div.menu-icon:hover .line
	background: #fff

.menu-icon > .line
	background-color: #292929
	height: 2px
	display: block

.menu-icon > .line + .line
	margin-top: 8px

div.f1l_3r
	background: $scolor
	width: 25%
	height: 100vh
	margin-top: -50px

div.content 
	+inline-block-middle

main#panel
	padding: 10px 3%
	width: 100%

div.summary-container, div.summary-item
	background: #fff

.col-half-offset
	margin-left: 4.166666667%

.summary-item
	border: 1px solid #b5b5b5
	padding: 40px 5px

.summary-item:nth-of-type(1)
	border-left: 5px solid #fb424a

div.summary-item:nth-of-type(2)
	border-left: 5px solid #8c33a6

div.summary-item:nth-of-type(3)
	border-left: 5px solid #4283fb

div.summary-item:nth-of-type(4)
	border-left: 5px solid #42fbc5

div.summary-item:nth-of-type(5)
	border-left: 5px solid #fbb842

div.summary-item p.count
	color: #2e6196
	font-size: 23px
	text-align: center

div.summary-item p.title
	font-size: 15px
	text-align: center
	color: #373a3c

div.dbc
	margin-top: 2%
	div.dbc-2
		margin-left: 1%

div.dbc-1, div.dbc-2
	background: #fff
	padding: 10px
	+inline-block-top
	margin-left: -0.25em
	width: 49.5%

.hvr-bounce-to-right
	vertical-align: middle
	-webkit-transform: perspective(1px) translateZ(0)
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	position: relative
	-webkit-transition-property: color
	transition-property: color
	-webkit-transition-duration: 0.5s
	transition-duration: 0.5s
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: $scolor
		-webkit-transform: scaleX(0)
		transform: scaleX(0)
		-webkit-transform-origin: 0 50%
		transform-origin: 0 50%
		-webkit-transition-property: transform
		transition-property: transform
		-webkit-transition-duration: 0.5s
		transition-duration: 0.5s
		-webkit-transition-timing-function: ease-out
		transition-timing-function: ease-out
	&:hover, &:focus, &:active
		color: white
	&:hover:before, &:focus:before, &:active:before
		-webkit-transform: scaleX(1)
		transform: scaleX(1)
		-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

div.right-nav
	width: 25%
	margin-top: 0.7%
	position: relative
	div.notif
		padding: 10px
		position: relative
		span.n-count
			position: absolute
			top: 0
			right: 0
			background: blue
			border-radius: 100%
			padding: 3px 9px
			color: #fff
			font-size: 11px
	div.profile
		margin-left: 5%
		border-left: 2px solid gray
		padding-left: 8%
		img
			+inline-block-middle
			margin-right: 5px
		p.profile-name
			+inline-block-middle
	.hamburger
		background: $pcolor
		position: absolute
		top: -11px
		right: -4px
		height: 67px
		width: 19%
		font-size: 2em
		line-height: 45px
		padding: 5px 15px 0px 15px
		color: #fff
		border: 0
		font-weight: bold
		cursor: pointer
		outline: none
		z-index: 10000000000000
		transition: background 0.5s ease
		&:hover
			background: $scolor
	.cross
		background: $pcolor
		position: absolute
		top: -11px
		right: -4px
		width: 19%
		padding: 11px 15px 0px 15px
		color: #fff
		border: 0
		font-size: 3em
		line-height: 65px
		font-weight: bold
		cursor: pointer
		outline: none
		z-index: 10000000000000
		height: 67px
		transition: background 0.5s ease
		&:hover
			background: $scolor
	.menu
		z-index: 999999
		font-weight: bold
		font-size: 0.8em
		width: 100%
		background: $pcolor
		position: absolute
		text-align: center
		font-size: 12px
		right: 0
		margin-top: 14px
		margin-right: -4px
		ul
			margin: 0
			padding: 0
			list-style-type: none
			list-style-image: none
		li
			display: block
			padding: 15px 0 15px 0
			border-bottom: #dddddd 1px solid
			&:hover
				display: block
				background: $scolor
				padding: 15px 0 15px 0
				border-bottom: #dddddd 1px solid
		a
			text-decoration: none
			color: #fff
		&:hover
			text-decoration: none
			color: #666

.frm
	background: #fff
	padding: 10px
	border-radius: 5px
	box-shadow: 5px 5px 20px #afafaf
	position: relative
	border-bottom: 2px solid #9c9c9c
	border-right: 2px solid #9c9c9c
	border-left: 2px solid #9c9c9c
	// border-top: 4px solid #103a50
	h1
		color: $theme-color
	&:after
		background: linear-gradient(to right, #0284fe 0%, #103a50 50%, #0284fe 100%);
		position: absolute;
		content: '';
		height: 4px;
		right: 0;
		left: 0;
		top: 0;

.ctr-30
	width: 30%
	margin: 0 auto

.ctr-50
	width: 50%
	margin: 0 auto

.ctr-80
	width: 80%
	margin: 0 auto

.confirmed
	border: 2px solid #5EDF5E
	&:focus
		border-color: #5EDF5E
		box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56)
	&.form-control:focus
		border-color: #5EDF5E
		box-shadow: 0 0 0 0.2rem rgba(43, 199, 49, 0.56)

.not-confirmed
	border: 2px solid #C24D4D
	&:focus
		border-color: #C24D4D
	&.form-control:focus
		border-color: #C24D4D
		box-shadow: 0 0 0 0.2rem rgba(204, 49, 99, 0.5)

li.has-submenu
	&:hover ul.submenu
		display: block
		opacity: 1
	ul.submenu
		display: none
		opacity: 0
		transition: 2s opacity ease

.center-div
	margin: 0 auto

.ppmp-tbl td.is_quarterly_td, .ppmp-tbl td.is_monthly_td
	cursor: pointer
	&:hover
		background: #2a953a
	&.selected
		background: #6bd67b

.legend-box
	height: 10px
	width: 10px
	margin-right: 7px

/******** Status highlights (PPMP Index) *********/
.status-for-director-approval, .status-pr-for-director-approval
	background: rgba(26, 169, 149, 0.73) !important

.status-for-budget-approval, .status-pr-for-procurement-validation
	background: rgba(3, 77, 244, 0.52) !important

.status-for-end-user-revision, .status-pr-for-revision
	background: rgba(214, 91, 32, 0.66) !important

.status-for-director-approval-final, .status-pr-for-submission
	background: rgba(255, 0, 0, 0.62) !important

.status-for-procurement-approval, .status-pr-for-assignment
	background: rgba(139, 195, 74, 0.69) !important

.status-ppmp-approved, .status-pr-assigned
	background: rgba(144, 117, 191, 0.75) !important

.status-pr-for-budget-validation
	background: rgba(28, 98, 79, 0.49) !important

.custom-table-bordered
	thead > tr > th, tbody > tr > td, thead > tr > td, tbody > tr > th
		border: 1px solid #000

ul.pagination
	li.page-item
		a.page-link
			color: red
			background: #c1ddff
			border: 0 !important
			&:hover
				background: #2284fe
				color: #fff
		&.disabled
			span.page-link
				color: red
				background: #c1ddff
		&.active
			span.page-link
				color: #fff
				border: 0 !important

.error
	border: 2px solid red
	color: red
	&:focus
		color: red !important
		border: 2px solid red
		box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.88) !important

.drop-shadow
	box-shadow: 0px 0px 4px 0px #000

.dashboard.bg-primary-lt
	background: #b8ddff !important