v-layout
    v-flex(xs12 sm8 offset-sm2 md6 offset-md3 lg4 offset-lg4)
        v-card.pt-5.mt-5(hover)
            v-card-media(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Philippine_Competition_Commission_%28PCC%29.svg/490px-Philippine_Competition_Commission_%28PCC%29.svg.png"
                        height="200px"
                        contain)
            v-card-title
                v-container(fluid)
                    v-layout(row wrap)
                        v-flex(xs12 v-if="alert.hasAlert")
                            v-alert(:value="alert.hasAlert"
                                    :type="alert.alertType"
                                    transition="scale"
                                    origin="center center") {{ alert.alertMsg }}
                        v-flex(xs12)
                            v-text-field(label="Email Address"
                                        v-model="userCredentials.email"
                                        @keypress.enter="submit")
                        v-flex(xs12)
                            v-text-field(label="Password"
                                        type="password"
                                        v-model="userCredentials.password"
                                        @keypress.enter="submit")
                        v-flex(xs12)
                            v-btn.white--text(ripple
                                            block
                                            color="blue lighten-1"
                                            @click="submit"
                                            :loading="loginLoading") Login
                        v-flex(xs12)
                            v-btn.white--text(block
                                            color="blue darken-3"
                                            :href="passwordResetLink") Forgot Password?
                        //- v-flex(xs12)
                        //-     v-btn.white--text(block
                        //-                     color="blue darken-3"
                        //-                     :to="{ name: 'Password Reset' }") Forgot Password?