v-layout(row wrap)
    v-flex(xs4 offset-xs4)
        v-card.pt-5.mt-5(hover)
            v-card-media(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Philippine_Competition_Commission_%28PCC%29.svg/490px-Philippine_Competition_Commission_%28PCC%29.svg.png"
                height="200px"
                contain)
            form(@submit.prevent="resetPasswordSubmit")
                v-container
                    v-layout(row wrap)
                        v-flex(xs12)
                            v-text-field(v-model="email" label="Email Address" type="email")
                        v-flex(xs12)
                            v-text-field(v-model="newPassword" label="New Password" type="password")
                        v-flex(xs12)
                            v-text-field(v-model="confirmNewPassword" label="Confirm New Password" type="password")
                        v-flex(xs12)
                            v-btn(block
                                color="blue lighten-1"
                                type="submit"
                                :loading="loading") Change Password