v-layout(row wrap)
    v-flex(xs12 sm8 offset-sm2 md6 offset-md3 lg4 offset-lg4)
        v-card.pt-5.mt-5(hover)
            v-card-media(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Philippine_Competition_Commission_%28PCC%29.svg/490px-Philippine_Competition_Commission_%28PCC%29.svg.png"
                height="200px"
                contain)
            form(@submit.prevent="submitForm")
                v-container
                    v-layout(row wrap)
                        v-flex(xs12)
                            v-alert(:value="alert.hasAlert"
                                    :type="alert.type"
                                    transition="scale"
                                    origin="center center") {{ alert.message }}
                        v-flex(xs12)
                            v-text-field(label="Email Address" v-model="email")
                        v-flex(xs12)
                            v-btn.white--text(block
                                            color="blue lighten-1"
                                            type="submit"
                                            :loading="loading") Send Password Reset Link
                        v-flex(xs12)
                            v-btn.white--text(block
                                color="blue darken-3"
                                :to="{ name: 'Login' }") Already have an account?